apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-sql
  namespace: dbcenter
data:
  01_init.sql: |
    CREATE TABLE IF NOT EXISTS hello (
        id SERIAL PRIMARY KEY,
        message TEXT NOT NULL
    );

    INSERT INTO hello(message)
    SELECT 'Hello from PostgreSQL'
    WHERE NOT EXISTS (SELECT 1 FROM hello);
