apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dbcenter-pvc
  namespace: dbcenter
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: 5Gi
